body {
    margin: 0;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100%;
    height: 5100px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.head {
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.theme_change {
    display: flex;
    position: sticky;
    top: 0px;
    right: 0px;
    width: max-content;
    height: 70px;
    background: #cacaca;
    transition: all 0.3s ease 0s;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-end-start-radius: 10px;
    font: italic small-caps bold 16px/2 cursive;
    box-shadow: -1px 1px 28px 4px rgba(0,0,0,0.33);
    -webkit-box-shadow: -1px 1px 28px 4px rgba(0,0,0,0.33);
    -moz-box-shadow: -1px 1px 28px 4px rgba(0,0,0,0.33);
}

.theme_change:hover {
    cursor: pointer;
}

.left_menu {
    position: relative;
    transform: translate(-80%,0px);
    display: flex;
    height:;
    width: max-content;
    z-index: 1;
    justify-content: space-around;
    transition: all 0.5s ease 0s;
    font: italic small-caps bold 16px/2 cursive;
    font-size: 20px;
}



.button {
    position: sticky;
    top: 10px;
    height: max-content;
    padding-inline: 20px;
    transition: all 1s ease 0s;
    border-radius: 20px;
}

.button:hover {
    cursor: pointer;
}

.line {
    width: 35px;
    height: 5px;
    margin: 6px 0;
}

nav {
    position: sticky;
    top: 70px;
    width: max-content;
    height: max-content;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu_line {
    padding-block-start: 10px;
    padding-block-end: 10px;
    padding-inline: 20px;
    transition: all 0.3s ease 0s;
}

.menu_line:hover {
    transform: translate(30px,0px);
    cursor: pointer;
    border-end-end-radius: 30px;
    border-start-end-radius: 30px;
    box-shadow: -39px 18px 103px 37px rgba(0,0,0,0.10);
    -webkit-box-shadow: -39px 18px 103px 37px rgba(0,0,0,0.10);
    -moz-box-shadow: -39px 18px 103px 37px rgba(0,0,0,0.10);
}

.container {
    height: max-content;
    width: 100%;
    padding: 30px;
    margin: 50px 100px auto 50px;
    font: 1.2em "Fira Sans", sans-serif;
    transition: all 0.5s ease 0s;
    border-radius: 30px;
}

.github_link {
    display: flex;
    padding: 10px;
    display: flex;
    width: max-content;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
}

.github_link a {
    font-size: 20px;
    text-decoration: none;
    height: max-content;
}

.github_link:hover {
    box-shadow: 1px 0px 21px 0px rgba(0,0,0,0.63);
    -webkit-box-shadow: 1px 0px 21px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 1px 0px 21px 0px rgba(0,0,0,0.63);
}

.block_job {
    border: 1px solid grey;
    padding-inline: 20px;
    width: 70%;
    height: max-content;
    display: none;
    border-radius: 20px;
    margin: 0 0 50px;
    box-shadow: -1px 2px 29px -3px rgba(0,0,0,0.18) inset;
    -webkit-box-shadow: -1px 2px 29px -3px rgba(0,0,0,0.18) inset;
    -moz-box-shadow: -1px 2px 29px -3px rgba(0,0,0,0.18) inset;
}

.description {
    margin: 0;
    text-decoration: underline;
    transition: all 0.5s ease 0s;
    padding-block-end: 15px;
    width: max-content;
}

.description:hover {
    cursor: pointer;
    animation: des 1s ease infinite;
}

@keyframes des {
    0% {

    }

    50% {
        transform: translate(5px,0px)
    }

    100% {
    }
}

@media screen and (max-width: 1400px) {
    .left_menu {
        display: none;
    }

    .theme_change {
        display: none;
    }

    .head {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
